body {
    background-color: #f8f9fa;
    color: #333;
}
.navbar {
    background-color: #007bff;
}
.sidebar {
    background-color: rgba(228, 15, 15, 0.993);
    padding: 20px;
    height: 100vh;
}

.sidebar {
    background-color: #add8e6; /* Color azul claro */
    padding: 10px; /* Ajusta el padding si es necesario */
}
.sidebar a {
    color: #4a36bb;
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #add8e6; /* Color azul claro */
}

.sidebar a:hover {
    background-color: #be3a22;
    color: #090b8a;
}
.content {
    margin-left: 220px;
    padding: 20px;
}

